*{
    overflow-x: hidden;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    gap: 40px;
    margin: 40px;

    grid-template-areas:
      "header header"
      "nameplate selfie"
      "aboutme selfie"
      "knowhow knowhow"
      "python java"
      "lua web"
      "education-certs education-certs"
      "programming office"
      "MTCHS resume"
      "projects projects"
      "maddysmachines emberfall"
      "spintegration ."
      ; 

}


.grid > .header               { grid-area: header; }
.grid > .nameplate            { grid-area: nameplate; }
.grid > .selfie               { grid-area: selfie; }
.grid > .aboutme              { grid-area: aboutme; }

.grid > .knowhow              { grid-area: knowhow; }
.grid > .python               { grid-area: python; }
.grid > .java                 { grid-area: java; }
.grid > .lua                  { grid-area: lua; }
.grid > .web                  { grid-area: web; }

.grid > .education-certs      { grid-area: education-certs; }
.grid > .MTCHS                { grid-area: MTCHS; }
.grid > .office               { grid-area: office; }
.grid > .programming          { grid-area: programming; }

.grid > .projects             { grid-area: projects; }
.grid > .maddysmachines       { grid-area: maddysmachines; }
.grid > .emberfall            { grid-area: emberfall; }
.grid > .spintegration        { grid-area: spintegration; }


body{
    background-color: rgb(99, 45, 45);
}
.grid > *{
    color: white;
    background-color: rgb(143, 72, 72);
    border-radius: 14px;
    padding:40px;
    font-size: 2em;

    display: flex;
    align-items: center;
    font-family: 'Special Gothic Expanded One', cursive;
}
.grid > *:hover:not(.selfie, .header, .knowhow, .education-certs, .projects){
    background-color: rgb(143, 72, 72, 0.8);
    cursor: pointer;
}

.header, .knowhow, .education-certs, .projects {
    background-color: rgb(58, 23, 23);
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
}

.header{
    height: 20px;
    font-size: 1.5em;

    display: flex;
    flex-direction: row;
    width:100%;

    overflow-y: hidden;
}

/* Navbar style */
    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .navbar a {
        color: white;
        text-decoration: none;
        padding: 0 1em;
    }
    .nav-right {
        margin-left: auto;
        display: flex;
        gap: 1em;
    }
/* ----------- */


.grid > .selfie{
    background-color: transparent;
    padding: 0px;
}
.selfie > img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.nameplate{
    font-family: 'Climate Crisis', YEAR, cursive;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 0.05em;

}

/* tile design */
.python::before{
    content: "";
    background-image: url('../Icons/Python.png');
    background-repeat: no-repeat;
    background-size: 7%;
    position: absolute;
    background-position: 43% 41%;
    overflow: hidden;
    pointer-events: none;

    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
}
.java::before{
    content: "";
    background-image: url('../Icons/Java.png');
    background-repeat: no-repeat;
    background-size: 9%;
    position: absolute;
    background-position: 43% 41%;
    overflow: hidden;
    pointer-events: none;

    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
}
.lua::before{
    content: "";
    background-image: url('../Icons/Lua.png');
    background-repeat: no-repeat;
    background-size: 7%;
    position: absolute;
    background-position: 43% 41%;
    overflow: hidden;
    pointer-events: none;

    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
}
.web::before{
    content: "";
    background-image: url('../Icons/HTML.png');
    background-repeat: no-repeat;
    background-size: 7%;
    position: absolute;
    background-position: 43% 41%;
    overflow: hidden;
    pointer-events: none;

    width: 100%;
    height: 100%;
    transform: rotate(-30deg);
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgb(143, 72, 72);
    margin: auto;
    padding: 40px;
    width: 60%;
    border-radius: 20px;
    font-family: 'Special Gothic Expanded One', cursive;
    color: white;
}
.modal-content > div > h2 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
}
.modal-content > div > hr {
    color : white;
    margin: 20px 0px
}

/* close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}