:root {
    --titleColor: #3A1717;
    --gridColor: #632D2D;
    --backgroundColor: #8F4848;
    --textColor: white;

}

html{
    scroll-behavior: smooth;
}

.grid{
    display: grid;
    gap: 40px;
    margin: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 170px;

    grid-template-areas:
      "nameplate        nameplate      selfie        selfie"
      "aboutme          aboutme        selfie        selfie"
      "learnmore        learnmore      selfie        selfie"
      "educationCerts   educationCerts educationCerts educationCerts"
      "certifications   certifications resume        resume"
      "projects         projects       projects      projects"
      "maddysmachines   emberfall      spintegration printer"
      "portfoliowebsite .              .             ."
      "knowhow          knowhow        knowhow       knowhow"
      "python           python         java          java"
      "lua              lua            web           web"
      ; 
}

.grid > .nameplate            { grid-area: nameplate; }
.grid > .selfie               { grid-area: selfie; }
.grid > .aboutme              { grid-area: aboutme; }
.grid > .learnmore            { grid-area: learnmore; }

.grid > .knowhow              { grid-area: knowhow; }
.grid > .python               { grid-area: python; }
.grid > .java                 { grid-area: java; }
.grid > .lua                  { grid-area: lua; }
.grid > .web                  { grid-area: web; }

.grid > .educationCerts       { grid-area: educationCerts; }
.grid > .certifications       { grid-area: certifications; }
.grid > .resume               { grid-area: resume;}

.grid > .projects             { grid-area: projects; }
.grid > .maddysmachines       { grid-area: maddysmachines; }
.grid > .emberfall            { grid-area: emberfall; }
.grid > .spintegration        { grid-area: spintegration; }
.grid > .printer              { grid-area: printer; }
.grid > .portfoliowebsite     { grid-area: portfoliowebsite; }

body{
    background-color: var(--backgroundColor);
    transition: background-color 0.2s ease-in-out;
}

.grid > *, .header{
    color: var(--textColor);
    background-color: var(--gridColor);
    border-radius: 30px;
    padding:40px;
    font-size: 2em;
    font-family: 'Special Gothic Expanded One', cursive;
    border: 3px solid transparent;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.grid > *:hover:not(.selfie, .header, .knowhow, .educationCerts, .projects, .nameplate, .aboutme, .funStuff){
    border: 3px solid var(--textColor);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

button {
    background-color: var(--titleColor);
    color: var(--textColor);
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    color: var(--textColor);
    transform: scale(1.05);
    border: 2px solid var(--textColor);
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.grid ol, .grid li {
    padding-left: 20px;
    font-size: 0.8em;
}

.header, .knowhow, .educationCerts, .projects {
    background-color: var(--titleColor);
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 2em;
}

/* NAVBAR STYLES */
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 20px;
    font-size: 1.5em;
    margin: 40px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 80px);
    border: 3px solid var(--textColor);
    overflow-y: hidden;
    background-color: var(--titleColor);
    transition: background-color 0.2s ease-in-out;
    scale: 102%
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar a, #themepicker {
    color: var(--textColor);
    text-decoration: none;
    padding: 0 1em;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navRight {
    margin-left: auto;
    display: flex;
    gap: 1em;
    transition: transform 0.2s ease-in-out;
}

.navRight a:hover, #themepicker:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.grid > .selfie{
    background-color: transparent;
    padding: 0px;
    background-image: url('../Images/Luna1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nameplate{
    font-family: 'Climate Crisis', cursive;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}

.project{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.project img {
    height:313px;
    margin-top: 20px;
    border-radius: 15px;
}
.project p {
    font-size: 0.8em;
    text-align: center;
}


.bigAboutMe{
    display: grid;
    gap: 30px;

    grid-template-areas: 
    "aboutText1      aboutimg1"
    "aboutText2      aboutimg2";

}
.bigAboutMe > .aboutText1  {grid-area: aboutText1}
.bigAboutMe > .aboutimg1   {grid-area: aboutimg1} 
.bigAboutMe > .aboutText2  {grid-area: aboutText2}
.bigAboutMe > .aboutimg2   {grid-area: aboutimg2}

.bigAboutMe div{
    border: 1px solid white
}


/* MODAL STYLES */
.modal, .themepicker {
    display: none;
    position: fixed; 
    z-index: 1000;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.modalContent {
    background-color: var(--gridColor);
    margin: auto;
    padding: 40px;
    width: 60%;
    border-radius: 20px;
    font-family: 'Special Gothic Expanded One', cursive;
    color: var(--textColor);
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    transform-origin: top center;
    z-index: 3;
    transition: background-color 0.2s ease-in-out;

}

.modalContent p {
    font-size: 1.5em;
}

.modalDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalDescription * {
    margin: 20px 0px;
}

@keyframes fadeInModalBackground {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOutModalBackground {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeInModalContent {
    from { opacity: 0; transform: translateY(-10px) scaleX(1) scaleY(0.1); }
    to   { opacity: 1; transform: translateY(0) scaleX(1) scaleY(1); }
}

@keyframes fadeOutModalContent {
    from { opacity: 1; transform: translateY(0) scaleX(1) scaleY(1); }
    to   { opacity: 0; transform: translateY(-10px) scaleX(1) scaleY(0.1); }
}

.modal.fade-in { animation-name: fadeInModalBackground; }
.modal.fade-out { animation-name: fadeOutModalBackground; }
.modalContent.fade-in { animation-name: fadeInModalContent; }
.modalContent.fade-out { animation-name: fadeOutModalContent; }

.modalContent > div > h2 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 3em;
}

.modalContent > div > hr {
    border: 1px solid var(--textColor);
    margin: 20px 0px
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modalHeader > h2 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 2.5em;
}

.modalHeader > div {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
    margin-right: 20px;
}

.modalHeader > div > img {
    height: 70px;
    width: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

br {
    margin-bottom: 20px;
}
/**************************************/

/*THEMES*/
.themes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;

}
.theme {
    position: relative;
    padding: 8px;
    font-size: 0.6em;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: 40px; 
    overflow: hidden; 
    transition: transform 0.2s ease-in-out;

}

.theme p {
    margin: 0;
    text-align: center;
}

.themeSamples {
    display: none;
    flex-direction: column; 
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px; 
}

.theme:hover {
    transform: scale(1.4);
    cursor: pointer;
    z-index:4;
    border: 2px solid var(--textColor);
    transition: transform 0.2s ease-in-out;
}

.theme:hover .themeSamples {
    display: flex;
}

.themeSample {
    flex: 1; 
    margin: 0;
    padding: 0;
    width:200%;
}


