:root {
    --gridColor: rgb(58, 23, 23);
    --backgroundColor: rgb(143, 72, 72);
    --titleColour: rgb(99, 45, 45);
}

html{
    scroll-behavior: smooth;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    gap: 40px;
    margin: 40px;
    margin-top: 170px;

    grid-template-areas:
      "nameplate        selfie"
      "aboutme          selfie"
      "funStuff         selfie"
      "educationCerts   educationCerts"
      "certifications   resume"
      "projects         projects"
      "maddysmachines   emberfall"
      "spintegration    printer"
      "knowhow          knowhow"
      "python           java"
      "lua              web"
      ; 

}


.grid > .nameplate            { grid-area: nameplate; }
.grid > .selfie               { grid-area: selfie; }
.grid > .aboutme              { grid-area: aboutme; }
.grid > .funStuff             { grid-area: funStuff; }

.grid > .knowhow              { grid-area: knowhow; }
.grid > .python               { grid-area: python; }
.grid > .java                 { grid-area: java; }
.grid > .lua                  { grid-area: lua; }
.grid > .web                  { grid-area: web; }

.grid > .educationCerts       { grid-area: educationCerts; }
.grid > .certifications       { grid-area: certifications; }

.grid > .projects             { grid-area: projects; }
.grid > .maddysmachines       { grid-area: maddysmachines; }
.grid > .emberfall            { grid-area: emberfall; }
.grid > .spintegration        { grid-area: spintegration; }
.grid > .printer              { grid-area: printer; }


body{
    background-color: var(--titleColour);
}
.grid > *, .header{
    color: white;
    background-color: var(--backgroundColor);
    border-radius: 30px;
    padding:40px;
    font-size: 2em;

    font-family: 'Special Gothic Expanded One', cursive;
    border: 3px solid transparent;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.grid > *:hover:not(.selfie, .header, .knowhow, .educationCerts, .projects, .nameplate, .aboutme, .funStuff){
    background-color: rgb(143, 72, 72, 0.8);
    border: 3px solid white;
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
.maddysmachines, .emberfall, .spintegration, .printer, .resume, .certifications {
    cursor: pointer;
}

button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 15px;
    background-color: var(--titleColour);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
button:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    border: 2px solid white;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.grid ol, .grid li {
    padding-left: 20px;
    font-size: 0.8em;
}

.header, .knowhow, .educationCerts, .projects {
    background-color: var(--gridColor);
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 2em;
}


/* NAVBAR STYLES */
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    height: 20px;
    font-size: 1.5em;

    margin: 40px;
    display: flex;
    flex-direction: row;
    width:100%;
    width: calc(100% - 80px);

    border: 3px solid white;
    overflow-y: hidden;
    background-color: var(--gridColor); /* keep the header background under scroll */
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.navbar a:hover {
    transform: translateY(-2px);
}
.navRight {
    margin-left: auto;
    display: flex;
    gap: 1em;
    transition: transform 0.2s ease-in-out;

}
.navRight a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
/* ----------- */

.grid > .selfie{
    background-color: transparent;
    padding: 0px;
    background-image: url('../Images/Luna1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nameplate{
    font-family: 'Climate Crisis', YEAR, cursive;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 0.05em;
    display: flex;
}
.nameplate, .aboutme{
    display: flex;
    align-items: center;
}


/* MODAL STYLES */
.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.modalContent {
    background-color: var(--backgroundColor);
    margin: auto;
    padding: 40px;
    width: 60%;
    border-radius: 20px;
    font-family: 'Special Gothic Expanded One', cursive;
    color: white;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    transform-origin: top center;
    z-index: 3;
}
.modalContent p {
    font-size: 1.5em;
}
.modalDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalDescription * {
    margin: 20px 0px;
}
@keyframes fadeInModalBackground {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeOutModalBackground {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes fadeInModalContent {
    from { opacity: 0; transform: translateY(-10px) scaleX(1) scaleY(0.1); }
    to   { opacity: 1; transform: translateY(0) scaleX(1) scaleY(1); }
}
@keyframes fadeOutModalContent {
    from { opacity: 1; transform: translateY(0) scaleX(1) scaleY(1); }
    to   { opacity: 0; transform: translateY(-10px) scaleX(1) scaleY(0.1); }
}
.modal.fade-in { animation-name: fadeInModalBackground; }
.modal.fade-out { animation-name: fadeOutModalBackground; }
.modalContent.fade-in { animation-name: fadeInModalContent; }
.modalContent.fade-out { animation-name: fadeOutModalContent; }

.modalContent > div > h2 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 3em;
}
.modalContent > div > hr {
    color : white;
    margin: 20px 0px
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.modalHeader > h2 {
    font-family: 'Climate Crisis', cursive;
    font-weight: 200;
    letter-spacing: 0.05em;
    font-size: 3em;

}
.modalHeader > div {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
    margin-right: 20px;

}
.modalHeader > div > img {
    height: 70px;
    width: auto;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ********************************* */