.themes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "mint         ez-mode            purple   green miami"
        "honey        sewing-tin      antihero taro creamsicle"
        "matcha-mocha solorized-light osaka    passionfruit sweden"
        ;
}
.theme{
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
}
.themeSample{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}
.themespacer{
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
/* .themes * {
    border: 1px solid white
} */